.topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text-left-bar h4 {
    color: #fff;
    margin: 0;
    font-size: 18px;
}
.box-container {
    width: 80px;
    display: flex;
    gap: 20px;
}
.box {
    display: flex;
    position: relative;
}
.box span {
    color: red
}
.box-container img {
    width: 20px;

}